<div class="video-box img-rounded">
  <div class="video-thumbnail">
    <%= link_to video_path(video) do %>
      <%= image_tag(video.thumbnail, class: 'img-responsive img-rounded') %>
    <% end %>
  </div>
  <div class="video-info">
    <h4 class="video-title">
      <%= link_to video_path(video) do %>
        <%= video.title %>
      <% end %>
    </h4>
    <div>
      <i class="glyphicon glyphicon-calendar"></i> <%= video.short_date %>
    </div>
  </div>
</div>
