<div class="video-box">
  <div class="video-image">
    <%= image_tag(video.thumbnail, class: 'video-thumbnail img-responsive') %>
    <%= link_to video_path(video) do %>
      <div class="video-play">
        <%= image_tag('play-button.png', alt: 'play button', class: 'video-play-button') %>
      </div>
    <% end %>
  </div>
  <div class="video-info">
    <h4 class="video-title">
      <%= link_to video_path(video) do %>
        <%= video.title %>
      <% end %>
    </h4>
    <div>
      <i class="glyphicon glyphicon-calendar"></i> <%= video.short_date %>
    </div>
  </div>
</div>
