<div id="video-page" class="container">
  <%= render 'video_top' %>

  <div class="row">
    <div class="col-md-12">
      <h3 class="title"><%= @video.title %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="<%= @video.embedded_link %>" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h4>
        <i class="glyphicon glyphicon-user"></i>
         <span><%= @video.presenter %></span>
      </h4>
    </div>
    <div class="col-sm-6">
      <h4 class="pull-right">
        <i class="glyphicon glyphicon-calendar"></i>
        <span><%= @video.short_date %></span>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <span>#<%= @video.category.name if @video.category %></span>
      <span>#<%= @video.event.name if @video.event %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <%= @video.description %>
      </div>
    </div>
  </div>

</div>
