
<div class="container">
  <div class="row">
    <ol class="breadcrumb"><%= render_breadcrumbs tag: :li, separator: '' %></ol>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>
        <%= @video.title %>
        <div class="pull-right">
          <i class="glyphicon glyphicon-user"></i>
          <span class="video-presenter"><%= @video.presenter %></span>
          <i class="glyphicon glyphicon-calendar"></i>
          <span><%= @video.year %></span>
        </div>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="<%= @video.embedded_link %>" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Description:</h4>
      <div><%= @video.description %></div>
    </div>
  </div>

</div>
