<header class="nav-header">
  <nav id="navbar-top" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#eduportal-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to(root_path, class: 'navbar-brand') do %>
          <%= image_tag('logo-header.png', alt: 'logo', class: 'img-responsive logo') %>
        <% end %>
      </div>
      <div id="eduportal-menu" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">
                <%= image_tag(current_user.picture, alt: 'picture', class: 'user-img img-circle') %>
                <%= current_user.name %> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <% if current_user.admin? %>
                  <li><%= link_to('Admin', main_app.admin_users_path) %></li>
                  <li role="separator" class="divider"></li>
                <% end %>
                <li>
                  <%= link_to('Sign Out', main_app.destroy_user_session_path, method: :delete) %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to('Sign In', user_omniauth_authorize_path(:google_oauth2)) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <nav id="navbar-menu" class="navbar navbar-default">
    <div class="container">
      <div class="">
        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if @active_page == 'videos' %>">
              <%= link_to('Videos', videos_path) %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>
