
<div id="welcome-header" class="container-fluid">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <%= image_tag('intro-text.png', alt: 'logo', class: 'text1 image-responsive') %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title">
        <%= image_tag('video-icon.png', alt: 'video icon',
          class: 'img-responsive pull-left video-icon') %>
        <span>Recent Videos</span>
      </h1>
    </div>
  </div>
  <div class="row">
    <% @recent_videos.each do |video| %>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <%= render 'videos/video', video: video %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title">
        <%= image_tag('video-icon.png', alt: 'video icon',
          class: 'img-responsive pull-left video-icon') %>
        <span>More Videos</span>
      </h1>
    </div>
  </div>
  <div class="row">
    <% @more_videos.each do |video| %>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <%= render 'videos/video', video: video %>
      </div>
    <% end %>
  </div>
</div>
